@mixin technology-slider-gradient {
    content: '';
    position: absolute;
    top: 0;
    z-index: 10;
    display: block;
    height: 100%;
    width: 4rem;
    --tw-gradient-from: #fff;
    --tw-gradient-to: hsla(0,0%,100%,0);
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
}

.animate {
    animation: scroll 35s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.technology-slider {

    &:before {
        @include technology-slider-gradient;
        background-image: linear-gradient(to right,var(--tw-gradient-stops));
    }

    &:after {
        @include technology-slider-gradient;
        right: -0.25rem;
        background-image: linear-gradient(to left,var(--tw-gradient-stops));
    }
}

.technology-used {
    color: #697782;
}